/* NORMAL */
.myCssPlayer{
    width: 80%;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 1000 !important;
}

.myCssPlayer .aplayer-pic{
    height: 150px !important;
    width: 150px !important;
    border-radius: 50%;
}

.myCssPlayer .aplayer-body{
    height: 150px;
    background-color: #2c064a;
    background: linear-gradient(180deg,#114357,#9c757c);
}

.myCssPlayer .aplayer-info{
     height: 150px !important;
}

/* Title */
.myCssPlayer .aplayer-title{
    color: #fbfafb;
    font-weight: 600;
    opacity: 0.9;
    font-size: 16px !important;
}

.myCssPlayer .aplayer-author{
    color: #fbfafb !important;
    opacity: 0.9;
}

 /* Lyric */
.myCssPlayer .aplayer-lrc{ 
     display: block !important;
     height: 36px !important;
     position: relative;
     top: 30px;
     padding-top: 0.5px;
     margin-bottom: 50px !important;
}

.myCssPlayer .aplayer-lrc-contents p{
    font-size: 14px !important;
    line-height: 14px!important;
    color: #ffffff !important;
}

.myCssPlayer .aplayer-lrc p.aplayer-lrc-current{
    font-size: 18px !important;
    color: #e5e5e5 !important;
}

.myCssPlayer .aplayer-lrc p{
    line-height: 20px!important;
 }

 .myCssPlayer .aplayer-lrc:after, .myCssPlayer .aplayer-lrc:before {
    content: none;    
}
/* //Lyric */

/* init */
.myCssPlayer .aplayer-icon-back, .myCssPlayer .aplayer-icon-forward, .myCssPlayer .aplayer-icon-order, .myCssPlayer .aplayer-icon-play{
    display: inline-block;
}
.myCssPlayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path{
    fill: #fff;
}
.myCssPlayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path{
    fill: #e5e5e5;
}
/* .myCssPlayer .aplayer-volume-bar{
    max-height: 80px !important;
    height: 80px !important;
} */
.myCssPlayer .aplayer-icon{
    height: 25px !important;
    margin-left: 5px !important;
    margin-right: 8px !important;
}
.myCssPlayer svg{
    width: 140%;
}
/* Thời gian, nút điều khiển */
.myCssPlayer .aplayer-bar{
    margin-top: 3px;
}

.myCssPlayer .aplayer-bar, .myCssPlayer .aplayer-loaded, .myCssPlayer .aplayer-played{ 
    height: 5px !important;
 }

.myCssPlayer .aplayer-played{
    background: #2c96f9 !important;
}

.myCssPlayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb { 
     height: 12px !important;
     width: 12px !important;
}

.myCssPlayer .aplayer-controller{
    height: 20px !important;
}

.myCssPlayer .aplayer-info .aplayer-controller .aplayer-time{
    font-size: 15px;
    color: #e5e5e5;
}

/* MINI */
