<head>
    <link rel="stylesheet" href="/css/chart.css">
</head>

<audio id="player" controls autoplay loop preload="auto" style="width: 50%">
    <source id="src" src="">
</audio>
<div class="container">
</div>

<script>
    function play(id) {
        fetch('/api/getStreaming/' + id)
            .then(function (res) {
                return res.json();
            })
            .then(function (song) {
                console.log(song["128"])
                playSong(song["128"]);
            })
            .catch(function (err) {
                console.log(err)
                console.log('err occur')
            })
    }

    function playSong(src) {
        var player = $('#player')[0];
        var x = document.createElement("SOURCE");
        x.setAttribute("src", src);
        x.setAttribute("id", "src");
        document.getElementById("player").removeChild(document.getElementById("src"));
        document.getElementById("player").appendChild(x);
        player.load();
        player.play();
    }

    function showChart(songs) {
        var htmls = songs.map(function (song) {
            return `
                    <li onclick="play(this.id)" id="${song.id}" class="mt-4 bxh-song" style="list-style-type:none">
                        <img src = "${song.thumbnail}">
                        <h4 style="display: inline-block">${song.number}. ${song.name}</h4>
                        <h5 style="display: inline-block"> - ${song.performer}</h5>
                    </li>
                `;
        })
        $('.container').html(htmls.join(""));
    }

    function start() {
        fetch('https://mp3.zing.vn/xhr/chart-realtime?songId=0&videoId=0&albumId=0&chart=song&time=-1')
            .then(response => response.json())
            .then(res => {
                var bxh = res.data.song.map(function (data, index) {
                    return {
                        id: data.id,
                        name: data.name,
                        performer: data.performer,
                        thumbnail: data.thumbnail,
                        number: index + 1,
                    }
                })
                return bxh;
            })
            .then(data => {
                showChart(data);
            })
    }
    start();


</script>