<head>
    <link rel="stylesheet" href="/css/menu.css">
</head>

<div class="menu">
    <ul>
        <li data-id="1">Khám phá</li>
        <li data-id="2">Bảng xếp hạng</li>
        <li>Chủ đề</li>
        <li>Top 100</li>
    </ul>
</div>

<script>
    $('li').click(function () {
        $('.container').html("<h1>Hi</h1>")
    })
</script>