<head>
    <link rel="stylesheet" href="">
</head>

<audio id="player" controls autoplay loop preload="auto" style="display: none;">
    <source
        id="src"
        src="asdad">
</audio>
<button id="btn">Đổi bài</button>
<button id="test">Test</button>

<script>
    window.addEventListener("load", function () {
        var player = $('#player')[0];
        $('#btn').click(function () {
            var x = document.createElement("SOURCE");
            x.setAttribute("src", "...");
            x.setAttribute("id", "src");
            document.getElementById("player").removeChild(document.getElementById("src"));
            document.getElementById("player").appendChild(x);
            player.load();
            player.play();
        })

        $('#test').click(function(){
            fetch('/')
                .then(function(response){
                    return response.json();
                })
                .then(data => {
                    console.log(data)
                })
                .catch(function(){
                    console.log("fail")
                })
        })
    });
</script>