<link rel="stylesheet" href="/player/APlayer.min.css">
<link rel="stylesheet" href="/player/player.css">

<div id="aplayer" class="myCssPlayer"></div>

{{!-- <button onclick="changeMode()" class="btn btn-primary">Change Mode</button> --}}

<script src="/player/APlayer.min.js"></script>
<script src="/js/player.js"></script>
