<link rel="stylesheet" href="/player/APlayer.min.css">
<link rel="stylesheet" href="/css/player.css">

<div id="aplayer" class="myCssPlayer"></div>
<i class="fas fa-chevron-circle-up player-up"></i>

<script src="/player/APlayer.min.js"></script>
<script src="/js/player.js"></script>
